* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-weight: 400;  
  background: #f4f7f9;
  font-family: "Lato  ", sans-serif;
  color: #4f5663;
}

.secondary-text {
  color: #4f5663;
}

thead {
  background-color: #eef1f5;
  color: #808b95 !important;
  text-align: center;
  border-bottom: 3px solid #fff !important;
}

td {
  background-color: white;
  color: #4f5663;
}

.dropdown-menu-right {
  top: 12px !important;
}

.btn-ems-navigate {
  background: #73818fd6;
  color: white;

  &:hover {
    color: #fff;
  }
}

.btn-ems-ternary {
  background-color: #76797d !important;
  color: white !important;

  &:focus {
    box-shadow: none !important;
  }

  &:hover {
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
