@import url("https://fonts.googleapis.com/css?family=Roboto");
.nav-tab {
  // width: 25%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
  display: inline-block;
  padding: 10px 25px;
  color: #bbb;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  &:hover {
    color: #28b2fe !important;
    background: #e4f1f8;
    cursor: pointer;
    text-decoration: none;
  }
  &.active {
    color: #28b2fe !important;
    text-decoration: none;
    cursor: context-menu;
    background-color: #ffffff;
    box-shadow: 0 4px 20px 0 rgba(37, 180, 254, 0.15), 0 7px 10px -5px rgba(39, 179, 254, 0.16);
    border-bottom: 2px solid #27b3fe;
  }
}
