.dateSection {
    background: #d2e3fc !important;
    color: #265aad !important;
}

.eventSection {
    .h5 {
        border-bottom: 1px solid #26252638;
        width: 10%;
        .font-weight-bold {
            border-bottom: 1px solid #262526bd;
        }
    }
}