label {
    font-size: 90%;
    margin-bottom: 0.25rem;
    color: rgba($color: #262526c9 , $alpha: 1)
}

.form-control {
    border-color: #eee;

    &:focus,
    &:hover {
        box-shadow: none;
        border-color: #5dd1ff;
    }
}