.leaveBalanceStyling {
    width: 80px !important;
}

.CircularProgressbar .CircularProgressbar-text {
    fill: rgb(84, 145, 135) !important;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}